.login {
  background-image: linear-gradient(135deg, #02173d 10%, #02095aaa 100%);
  margin: 20px auto;
  background: rgba(19, 29, 104, 0.51);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.48);
}
